---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PostList from "../components/PostList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello!</h1>
      <p>
        My name is <b>Olai</b>. I enjoy programming in my free time, and I am
        passionate about Linux, computers, and open source software.
      </p>
      <p>
        My favorite technologies include <b>NixOS</b>, <b>Rust</b>,
        <b>TypeScript</b>, <b>LaTeX</b>, and more recently
        <b>Functional programming languages</b> such as
        <b>Haskell</b> and <b>Nix</b>.
      </p>
      <p>
        I love configuring my systems to work exactly how I want them to, using <b
          >Linux</b
        > to customize every aspect of my experience.
      </p>
      <p>
        I am currently in school, and aspire to become a <i
          ><b>software engineer</b></i
        > in the future.
      </p>
      <h2>Latest blog posts</h2>
      <PostList collection="blog" maxPosts={3} class="postList" />
      <h2>Latest projects (TODO)</h2>
    </main>
    <Footer />
    <style>
      /*@media (min-width: 720px) {
        .postList {
          padding-left: 1.5em;
        }
      }*/
      .postList {
        border: 1px solid var(--bg-light);
        padding: 1em;
        border-radius: 12px;
      }
    </style>
  </body>
</html>
