---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import PostTags from "./PostTags.astro";
const { collection, maxPosts } = Astro.props;

const posts = (await getCollection(collection))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, maxPosts);
---

<ul {...Astro.props}>
  {
    posts.map((post) => (
      <li class="post">
        <a href={`/blog/${post.slug}/`}>
          <h4 class="title">{post.data.title}</h4>
          <p class="date">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <PostTags {...post.data} />
        </a>
      </li>
    ))
  }
</ul>
<style>
  ul {
    list-style-type: none;
    padding: 0;

    li {
      &:not(:first-child) {
        margin-top: 0.5em;
      }

      a {
        text-decoration: none;

        &:hover h4,
        &:hover .date {
          color: var(--accent);
        }

        .date {
          margin: 0;
          color: var(--fg-dark);
        }

        .title {
          margin: 0;
          color: var(--fg);
          line-height: 1;
        }
      }
    }
  }
</style>
